.yard {

	background: #f5f5f5;
	float: left;
	width: 40%;
	margin: 45px 15px 15px 15px;
	padding: 15px 15px 15px 15px;
	background: url(../img/grass.png);

}

.sheep {
	width: 35px;
	height: 35px;
	float: left;
	background: url(../img/Sheep.png) no-repeat;
	margin: 5px 5px 30px 5px;

}

.sheepId {
	margin-top: 40px;
	position: absolute;
}

.yard-title {
	position: absolute;
	font-weight: bold;
	font-size: 18px;
	margin: -45px 0 0 0;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}

.fade-enter, .fade-leave-active {
  opacity: 0
}

.avacado {
    cursor: pointer;
    padding: 10px 20px;
    color: #FFF;
    background-color: #74A24B;
    border: 0;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#8CC658), to(#74A24B));
    background-image: -webkit-linear-gradient(top, #8CC658, #74A24B);
    background-image: -moz-linear-gradient(top, #8CC658, #74A24B);
    background-image: -ms-linear-gradient(top, #8CC658, #74A24B);
    background-image: -o-linear-gradient(top, #8CC658, #74A24B);
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr="#FF8CC658", endColorstr="#FF74A24B");
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.4);
    font-weight: 600;
}

.avacado:hover {
    cursor: pointer;
    text-decoration: none;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#74A24B), to(#8CC658));
    background-image: -webkit-linear-gradient(top, #74A24B, #8CC658);
    background-image: -moz-linear-gradient(top, #74A24B, #8CC658);
    background-image: -ms-linear-gradient(top, #74A24B, #8CC658);
    background-image: -o-linear-gradient(top, #74A24B, #8CC658);
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr="#FF74A24B", endColorstr="#FF8CC658");
}

.avacado:focus {
    outline:0;
}

.avacado:active {
}